div[class^="col"]{
	/*border: 1px solid silver;*/
	min-height: 20px;
}
@font-face {
    font-family: 'IRANSansWeb';
    src: url('../fonts/IRANSansWeb.eot');
    src: url('../fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IRANSansWeb.woff2') format('woff2'),
        url('../fonts/IRANSansWeb.woff') format('woff'),
        url('../fonts/IRANSansWeb.ttf') format('truetype'),
        url('../fonts/IRANSansWeb.svg#IRANSansWeb') format('svg');
    font-weight: normal;
    font-style: normal;
}
body,html{
	background-color:#FCFCFC;
	min-height: 1000px;
	height: 100%;
}
*{
	text-align: right;
	direction: rtl;
	font-family: IRANSansWeb;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.cl-both:after{
	display: block;
	content: "";
	clear: both;
}
.container,.row{
	height: 100%;
}
.v-c {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* header */
.s-h-t{
	background-color: #F2F2F2;
	height: 40px; /* -21*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=63, Color=#D9D9D9)";/*IE 8*/
-moz-box-shadow: -3px 6px 10px #D9D9D9 inset;/*FF 3.5+*/
-webkit-box-shadow: -3px 6px 10px #D9D9D9 inset;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: -3px 6px 10px #D9D9D9 inset;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#D9D9D9); /*IE 5.5-7*/
}
.s-h-t *{
	height: 100%;
}
.col-l ul{
	left:0;
	height: initial;
	list-style: none;
}
.col-l li{
	margin-left: 5.9px;
	display: inline;
}
.col-l li i{
	color: #707070;
	font-size: 1.1em;
}
.col-r p{
	margin: 0px;
	padding-top: 10px;
	font-size: 0.78em;
}
.s-h-b{
	height: 61px;
}
.h-logo{
	width: 40px;
	height: 100%;
	padding: 5px;
}
.h-logo img{
	width: 50px;
}
nav.navbar ul{
	list-style: none;
	height: 100%;
	padding-right: 0px;
	margin:0;
}
nav.navbar ul li{
	display: inline-block;
	margin-right: 20px;
	height: 100%;
	
}
nav.navbar ul li a{
	height: 100%;
	display: block;
	line-height: 54px;
	color: #242424;
	font-size: 0.82em;
}
nav.navbar ul li a:hover{
	border-bottom: 4px solid #9E0B0F;
	text-decoration: none;
}
nav.navbar ul li a.active{
	border-bottom: 4px solid #9E0B0F;
}
.nav-l .con{
	text-align: left;
	padding-top: 14px;
}
.nav-l .con a.r-s{
	font-size: 0.9em;
	margin-left: 15px;
	box-sizing: content-box;
}
.nav-l .con a.r-s:hover{
	background-color:  #9E0B0F;
	color: white;
	padding: 5px;
	border-radius: 10px;
}
.nav-l .shop-icon{
	margin-right: 20px;
	position: relative;
}
.nav-l .shop-icon i{
	font-size: 1.6em!important;
	color: #888787;
}
.nav-l .shop-icon span{
	position: absolute;
	top: -5px;
	right: -10px;
	background-color: #9E0B0F;
	font-size: 0.6em;
	color: white;
	border-radius: 90px;
	padding: 1px 6px;
}
/*home serach container*/
.home-s-con{
	height: 410.29px;
	background-image: url("../files/home-search.png");
	background-size: cover;
	position: relative;
	margin-top: -1px;
}
.cover-b{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.001;
	z-index: 0;
}
.home-h-s{
	width: 100%;
}
.home-h-s h1{
	text-align: center;
	color:white;
	font-size: 1.5em;
	letter-spacing: 3px
}
.home-h-s form{
	position: relative;
}
.home-search-input{
	margin-top: 40px;
	width: 100%;
	display: block;
	position: relative;
	height: 51px;
	border-radius: 40px;
	border:none;
	padding: 0px 30px 2px 45px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=0, Color=#000000)";/*IE 8*/
-moz-box-shadow: 0 0 20px -10px rgba(0,0,0,0.6);/*FF 3.5+*/
-webkit-box-shadow: 0 0 20px -10px rgba(0,0,0,0.6);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 0 20px -10px rgba(0,0,0,0.6);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color=#000000); /*IE 5.5-7*/
}
.home-submit{
	position: absolute;
	width: 45px;
	height: 45px;
	padding: 4px 0 0 0;
	text-align: center;
	border: none;
	top: 3px;
	left: 3px;
	border-radius: 1000px;
	background-color: #F2F2F2;
}
.home-submit i{
	font-size: 1.4em;
	color: #656161;
}
.t-box ul{
	list-style: none;
	padding-top: 10px;
	padding-right: 0px;
	text-align: center;
}
.t-box ul li{
	display: inline;
	margin-left: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=0, Color=#000000)";/*IE 8*/
-moz-box-shadow: 0 0 20px -10px rgba(0,0,0,0.6);/*FF 3.5+*/
-webkit-box-shadow: 0 0 20px -10px rgba(0,0,0,0.6);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 0 20px -10px rgba(0,0,0,0.6);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color=#000000); /*IE 5.5-7*/
}
.t-box ul li a{
	font-size: 0.8em;
	color: #9E0B0F;
	background-color: #ffffffd4;
	border-radius: 10px;
	padding: 1px 6px 1px 6px;
}
/* center home slider style */
.h-box-sli{
	margin-top:45px;
	border-radius: 5px;
	padding-bottom: 0px;
	overflow: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=36, Direction=0, Color=#000000)";/*IE 8*/
-moz-box-shadow: 0 0 36px -23px rgba(0,0,0,0.4);/*FF 3.5+*/
-webkit-box-shadow: 0 0 36px -23px rgba(0,0,0,0.4);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 0 36px -23px rgba(0,0,0,0.4);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=36, Direction=135, Color=#000000); /*IE 5.5-7*/
}
.img-box-sli figure{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.img-box-sli img{
	width: 100%;
	height: 100%;
}
.des-slider{
	position: relative;
	height: 100%;
}
.des-slider h3{
	color: #9E0B0F;
	font-size: 1em;
	letter-spacing: 2px;
	font-weight: -10px;
}
.des-slider	ul{
	list-style: none;
	padding-right: 0;
	padding-top: 10px;
}
.des-slider ul li{
	margin-top: 4px;
	font-size: 0.9em;
	color: #ACABAB
}
.des-slider ul li span{
	font-size: 0.8em;
	color: black;
}
.des-slider .w-m-des{
	position: absolute;
	left: 0;
	bottom:0;
	top:40%;
	width: 190px;
}
.des-sli-cast{
	margin-top: 10%;
	margin-bottom: 13px;
}
.des-sli-cast span{
	font-size: 0.89em;
}
.sli-tak{
	margin-left:10px;
	color: #ACABAB;
	text-decoration: line-through;
}
.sli-cas{
	color: #9E0B0F;
}
.des-sli-pu-con a{
	padding: 4px 10px;
	background-color: #9E0B0F;
	color: white;
	margin-top: 5px;
	border-radius: 5px;
}
.slider-nav{
	margin-top: 20px;
	width: 110%;
	padding: 0;
	background-color: #F5F5F5;
	height: 50px;
}
.slider-nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
.slider-nav li{
	display: inline-block;
	width: 24.694%;
	height: 100%;
}
.slider-nav li a{
	display: block;
	text-align: center;
	font-size: 0.8em;
	height: 100%;
	line-height: 53px;
}
.nav-sli-active a{
	background-color: #707070;
	color: white;
	position: relative;
}
.nav-sli-active a:after {
	bottom: 70%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #707070;
	border-width: 28px;
	margin-left: -28px;
}
.slider-nav a:hover{
	background-color: #707070;
	color: white;
}
/* gallery box style */
.box-art-subs{
	margin-top: 90px;
}
.box-art-subs > header{

}
.box-art-subs > header ul{
	list-style: none;
	padding:0px;
	text-align: center;
	margin-top: 27px;
}
.box-art-subs .drop-list-home-con{
	display: inline-block;
	margin-left: 10px;
	position: relative;

	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=32, Direction=0, Color=#000000)";/*IE 8*/
-moz-box-shadow: 0 0 32px -19px #000000;/*FF 3.5+*/
-webkit-box-shadow: 0 0 32px -19px #000000;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 0 32px -19px #000000;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=32, Direction=135, Color=#000000); /*IE 5.5-7*/
}
.box-art-subs .drop-list-home-con > a{
	font-size: 0.88em;
	display: inline-block;
	width: 180px;
	text-align: right;
	background-color: white;
	padding:12px 10px;
	padding-right: 15px;
	border-radius: 40px;
}
.box-art-subs .drop-list-home-con:hover a{
	border-radius: 20px 20px 0px 0px;
}
.box-art-subs .drop-list-home-con ul{
	position: absolute;
	background-color: white;
	z-index: 100;
	top: 15px;
	border-radius: 0px 0px 5px 5px;
	width: 100%;
	padding-bottom: 10px;

}
.box-art-subs .drop-list-home-con:hover ul{
	display: block;
}
.box-art-subs .drop-list-home-con ul li {
	margin-top:5px;
}
.box-art-subs .drop-list-home-con ul li a{
	font-size: 0.8em;
	display: block;
	padding-right: 10px;
}
.box-art-subs .drop-list-home-con > a > span{
	margin-right: 10px;
	float: left;
	margin-left: 5px;
}
.box-art-subs .drop-list-home-con ul{
	display: none;
}
.box-art-subs h3{
	text-align: center;
	font-size: 1.3em;
}
.box-art-con{
	margin-top: 10px;
}
.box-art-con > div{
	margin-top: 20px;
	padding: 0px 10px 0px 10px!important;
}
.box-art-con article{
	height: 160px;
	border-radius: 8px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=36, Direction=0, Color=#000000)";/*IE 8*/
-moz-box-shadow: 0 0 36px -23px rgba(0,0,0,0.4);/*FF 3.5+*/
-webkit-box-shadow: 0 0 36px -23px rgba(0,0,0,0.4);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 0 36px -23px rgba(0,0,0,0.4);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=36, Direction=135, Color=#000000); /*IE 5.5-7*/

}
.box-art-con .box-art{
	background-color: white;
	position: relative;
}
.box-art-con figure{
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 10px;
	padding: 5px;
	position: relative;
}
.box-art-con figure img{
	width: 100%;
	height: 100%;
	position: relative;
}
.box-art-con .box-art:hover{
	transform: scale(1.7,1.7);
	z-index: 12;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=36, Direction=0, Color=#000000)";/*IE 8*/
-moz-box-shadow: 0 0 36px -15px rgba(0,0,0,0.5);/*FF 3.5+*/
-webkit-box-shadow: 0 0 36px -15px rgba(0,0,0,0.5);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 0 36px -15px rgba(0,0,0,0.5);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=36, Direction=135, Color=#000000); /*IE 5.5-7*/
}
.box-art-con .box-art figcaption{
	background-color: white;
	font-size: 0.55em;
	border-radius: 5px;
	width: 88%;
	left: 6%;
	position: absolute;
}
.box-art-con .box-art p{
	margin: 5px;
	color: black;
}
.box-art-con .box-art p span{
	margin-top: 4px;
}
.box-art-con .box-art p,.box-art-con .box-art span{
	text-align: center;

}
.box-art-con .box-art:hover figcaption{
	display: block!important;
	bottom: 9px;
}
.g-more-but-con{
	text-align: center;
	margin-top:30px;
}
.g-more-but-con a{
	display: inline-block;
	width: 130px;
	padding: 10px 5px;
	background-color: white;
	border-radius: 10px;
	text-align:center;
	font-size: 0.8em;
	border:1px solid #e6e6e6;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=40, Direction=0, Color=#000000)";/*IE 8*/
-moz-box-shadow: 0 0 40px -27px rgba(0,0,0,0.5);/*FF 3.5+*/
-webkit-box-shadow: 0 0 40px -27px rgba(0,0,0,0.5);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 0 40px -27px rgba(0,0,0,0.5);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=40, Direction=135, Color=#000000); /*IE 5.5-7*/
}
/* home artists section style */
.home-emp-s{
	margin-top: 80px;
	background-image: url(../files/artists-cover.png);
	height: 440px;
	background-size: cover;
	padding: 1px 0;
	position: relative;
}
.emp-box-con{
	padding: 35px;
}
.home-emp-con{
	position: relative;
	margin-top: 20px;
	padding: 1px 0;
}
.home-emp-con h3{
	text-align: center;
	letter-spacing: 3px;
	margin-bottom: 20px;
	font-size: 1em;
}
.home-emp-con p{
	font-size: 0.9em;
}
.home-emp-con figure{
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border-radius: 100%;
	height: 130px;
	border: 3px solid white;
}
.home-emp-con .name{
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 3px;
}
.home-emp-con .dui{
	font-size: 0.9em;
	text-align: center;
}
.home-emp-con img{
	width: 100%;
	height: 100%;
}
/* blog section style*/
.home-blog-s{
	margin-top: 100px;
}
.home-blog-s .blog-h{
	text-align: center;
	letter-spacing: 3px;
	margin-bottom: 20px;
	font-size: 1em;
}
.home-blog-s .blog-box-con{
	margin-top: 80px;
}
.blog-box{
	height: 100%;
	padding: 1px 15px 15px 15px;
	background-color: white;
	border-radius: 15px;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=36, Direction=0, Color=#000000)";/*IE 8*/
-moz-box-shadow: 0 0 36px -23px rgba(0,0,0,0.4);/*FF 3.5+*/
-webkit-box-shadow: 0 0 36px -23px rgba(0,0,0,0.4);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 0 36px -23px rgba(0,0,0,0.4);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=36, Direction=135, Color=#000000); /*IE 5.5-7*/
}
.blog-box figure{
	width: 100%;
	height: 220px;
	overflow: hidden;
	margin-top: -40px;
	border-right: 15px;
}
.blog-box figure img{
	width: 100%;
	height: 100%;
}
.blog-box h4{
	font-size: 0.92em;
	color: #9E0B0F;
	word-spacing: 1px;
}
.blog-box p{
	font-size: 0.87em;
	padding-top:7px;
}
.blog-box footer{
	margin-top: 22px;
	margin-bottom: 4px;
}
.blog-box footer a{
	float: left;
	color: #9E0B0F;
	font-size: 0.8em;
}
.blog-box footer a:hover{
	color: black;
}
.blog-box footer span{
	float: right;
	font-size: 0.8em;
}
/* footer style */
footer.footer-m > *{
	position: relative;
}
footer.footer-m{
	margin-top: 90px;
	position: relative;
	background-image: url(../files/footer-back.png);
	background-size: cover;
}
footer .cover-footer{
	background-color: #3F3958;
	opacity: 0.3;
	left: 0;
	position: absolute;
}
footer.footer-m{
	color: white;
	padding: 1px;
	padding-bottom: 5px;
}
footer.footer-m ul{
	list-style: none;
}
footer.footer-m header{
	margin-top: 15px;
	border-bottom: 1px solid #969696;
}
footer.footer-m header ul li{
	display: inline-block;
	text-align: center;
	font-size: 0.76em;
	width:24.6%;
}
.footer-list-con{
	margin-top: 30px;
}
.footer-list-con h3{
	font-size: 0.9em;
	letter-spacing: 1px;
}
.footer-list-con > div > ul{
	padding: 0px;
}
.footer-list-con > div > ul li{
	margin-top: 10px;
}
.footer-list-con > div > ul a{
	padding: 0px;
	color: white;
	font-size: 0.78em;
}
.footer-list-con > div > ul a:hover{
	color: #ff7a7e;
}
.footer-soci-net li{
	display: inline-block;
	margin-left: 10px;
}
.footer-soci-net li i{
	font-size: 2em;
}
.co-r{
	font-size: 0.7em;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 5px;
}
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
 
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
 
 
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {  
 	
 	body,html{
 		overflow-x: hidden;
 	}

 	nav.navbar{
 		position: fixed;
 		z-index: 1000;
 		top: 0;
 		right:-100%;
 		width: 200px;
 		height: 100%;
 		background-color: white;
 		transition: all 400ms;
 		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=38, Direction=351, Color=#000000)";/*IE 8*/
-moz-box-shadow: -6px -1px 38px -15px #000000;/*FF 3.5+*/
-webkit-box-shadow: -6px -1px 38px -15px #000000;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: -6px -1px 38px -15px #000000;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=38, Direction=135, Color=#000000); /*IE 5.5-7*/
 	}
 	.cover-menu{
 		position: fixed;
 		width: 100%;
 		height: 100%;
 		overflow: hidden;
 		z-index: 99;
 		background-color: black;
 		left: 0;
 		right: 0;
 		top: 0;
 		opacity: 0.5;
 		display: none;
 	}
 	nav.navbar.open{
 		right: 0;
 	}
 	nav.navbar span{
 		float: left;
 		padding: 10px;
 		font-size: 1.4em;
 	}
 	nav.navbar li{
 		display: block!important;
 		height: auto!important;
 		margin-bottom: 0px!important;
 		margin-right: 0!important;
 		border-top: 1px solid #e6e6e6;
 		
 	}
 	nav.navbar ul{
		margin-top: 55px;
 	}
 	nav.navbar ul li a{
 		line-height: 46px;
 		padding-right: 20px;
 	}
 	.res-t-menu{
 		position: relative;
 		z-index: 10;
 	}
 	.res-t-menu i{
 		font-size: 1.25em;
 	}
 	.nav-l .shop-icon i{
 		margin-bottom: -4px;
 	}
 	.home-h-s h1{
 		font-size: 1em;
 	}
 	.slider-home-con{
 		height: 354px;
 	}
 	.home-search-input{
 		margin-top: 20px;
 	}
 	.home-s-con{
 		height: 280.29px;
 	}
 	.t-box ul li {
		display: inline-block;
		margin-left: 4px;
		margin-top: 10px;
	}
	.slider-nav{
		display: none;
	}
	.slider-home-con{
		height: auto;
	}
	.des-slider h3{
		margin-top: 20px;
	}
	.des-slider .w-m-des {
		left: -10px;
		top: 31%;
	}
	.emp-box-con {
		padding: 4px;

	}
	.home-emp-con figure{
		height: 90px;
	}
	.home-emp-s{
		height: auto;
	}
	footer.footer-m header ul li {
		width: 22.6%;
	}
	.footer-list-con > div {
		
	}
	.footer-list-con {
		padding: 0px 14px;
	}
	.col-l ul {
		padding-right: 0;
	}
	.col-r p{
		padding: 5px;
		font-size: 0.72em;
	}
	.h-logo{
		display: none;
	}
	.box-art-subs .drop-list-home-con {
		margin-top: 13px;
	}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}
 
 
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 
 
}
