div[class^="col"]{
	/*border: 1px solid silver;*/
	min-height: 20px;
}
@font-face {
    font-family: 'IRANSansWeb';
    src: url('../fonts/IRANSansWeb.eot');
    src: url('../fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IRANSansWeb.woff2') format('woff2'),
        url('../fonts/IRANSansWeb.woff') format('woff'),
        url('../fonts/IRANSansWeb.ttf') format('truetype'),
        url('../fonts/IRANSansWeb.svg#IRANSansWeb') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	text-align: right;
	direction: rtl;
	font-family: IRANSansWeb;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.cl-both:after{
	display: block;
	content: "";
	clear: both;
}
.container,.row{
	height: 100%;
}
.v-c {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* header */
.s-h-t{
	background-color: #F2F2F2;
	height: 40px; /* -21*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=63, Color=#D9D9D9)";/*IE 8*/
-moz-box-shadow: -3px 6px 10px #D9D9D9 inset;/*FF 3.5+*/
-webkit-box-shadow: -3px 6px 10px #D9D9D9 inset;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: -3px 6px 10px #D9D9D9 inset;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#D9D9D9); /*IE 5.5-7*/
}
.s-h-t *{
	height: 100%;
}
.col-l ul{
	left:0;
	height: initial;
	list-style: none;
}
.col-l li{
	margin-left: 5.9px;
	display: inline;
}
.col-l li i{
	color: #707070;
	font-size: 1.1em;
}
.col-r p{
	margin: 0px;
	padding-top: 10px;
	font-size: 0.78em;
}
.s-h-b{
	height: 61px;
}
.h-logo{
	width: 40px;
	height: 100%;
	padding: 5px;
}
.h-logo img{
	height: 100%;
}
nav.navbar ul{
	list-style: none;
	height: 100%;
	padding-right: 0px;
	margin:0;
}
nav.navbar ul li{
	display: inline-block;
	margin-right: 20px;
	height: 100%;
	margin-bottom: -100px!important;
}
nav.navbar ul li a{
	height: 100%;
	display: block;
	line-height: 54px;
	color: #242424;
	font-size: 0.82em;
}
nav.navbar ul li a:hover{
	border-bottom: 4px solid #9E0B0F;
	text-decoration: none;
}
nav.navbar ul li a.active{
	border-bottom: 4px solid #9E0B0F;
}
.nav-l .con{
	text-align: left;
	padding-top: 14px;
}
.nav-l .con a.r-s{
	font-size: 0.9em;
	margin-left: 15px;
	box-sizing: content-box;
}
.nav-l .con a.r-s:hover{
	background-color:  #9E0B0F;
	color: white;
	padding: 5px;
	border-radius: 10px;
}
.nav-l .shop-icon{
	margin-right: 20px;
	position: relative;
}
.nav-l .shop-icon i{
	font-size: 1.6em!important;
	color: #888787;
}
.nav-l .shop-icon span{
	position: absolute;
	top: -5px;
	right: -10px;
	background-color: #9E0B0F;
	font-size: 0.6em;
	color: white;
	border-radius: 90px;
	padding: 1px 6px;
}
/*home serach container*/
.home-s-con{
	height: 410.29px;
	background-image: url("../files/home-search.png");
	background-size: cover;
	position: relative;
	margin-top: -3px;
}
.home-s-con .cover-b{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	opacity: 0.5;
}
.home-h-s{
	height: 250px;
	width: 100%;
}
.home-h-s h1{
	text-align: center;
	color:white;
	font-size: 1.5em;
	letter-spacing: 3px
}
.home-h-s form{
	position: relative;
}
.home-search-input{
	margin-top: 40px;
	width: 100%;
	display: block;
	position: relative;
	height: 51px;
	border-radius: 40px;
	border:none;
	padding: 0px 30px 2px 45px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=0, Color=#000000)";/*IE 8*/
-moz-box-shadow: 0 0 20px -10px rgba(0,0,0,0.6);/*FF 3.5+*/
-webkit-box-shadow: 0 0 20px -10px rgba(0,0,0,0.6);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 0 20px -10px rgba(0,0,0,0.6);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color=#000000); /*IE 5.5-7*/
}
.home-submit{
	position: absolute;
	width: 45px;
	height: 45px;
	padding: 4px 0 0 0;
	text-align: center;
	border: none;
	top: 3px;
	left: 3px;
	border-radius: 1000px;
	background-color: #F2F2F2;
}
.home-submit i{
	font-size: 1.4em;
	color: #656161;
}
.t-box ul{
	list-style: none;
	padding-top: 10px;
	padding-right: 0px;
	text-align: center;
}
.t-box ul li{
	display: inline;
	margin-left: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=0, Color=#000000)";/*IE 8*/
-moz-box-shadow: 0 0 20px -10px rgba(0,0,0,0.6);/*FF 3.5+*/
-webkit-box-shadow: 0 0 20px -10px rgba(0,0,0,0.6);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 0 20px -10px rgba(0,0,0,0.6);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color=#000000); /*IE 5.5-7*/
}
.t-box ul li a{
	font-size: 0.8em;
	color: #9E0B0F;
	background-color: #ffffffd4;
	border-radius: 10px;
	padding: 1px 6px 1px 6px;
}
